

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Sans Condensed", sans-serif;
    /* border: 1px solid red; */
}

.container{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgb(243, 241, 241), yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 58.5px;
}

.box{
    width: 90%;
    height: auto;
    background-color: white;
    border: 4px solid black;
    border-radius: 15px 15px 5px 5px;
    box-shadow: rgb(202, 185, 185) 0px 10px  10px 10px;
}

.navbar{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    /* position: fixed;
    z-index: 20; */
}

.menu{
    display: none;
}

.upper{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 30px;
    padding-inline: 115px;
}

.upper h1{
    font-weight: 800;
}

.upper span button{
    height: 50px;
    width: 140px;
    font-weight: 700;
    font-size: medium;
    background-color: rgb(252, 252, 38);
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.upper span button:first-child:hover{
    background-color: rgb(240, 233, 233);
    text-decoration-line: underline;
}

.upper span button:last-child{
    background-color: rgb(240, 233, 233);
    position: relative;
    right: 5px;
    border-radius: 0px 5px 5px 0px;
}

.upper span button:last-child:hover{
    background-color: rgb(252, 252, 38);
    text-decoration-line: underline;

}

.lower{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 30px;
    padding-inline: 45px;
}

.lower h5{
    font-size: 20px;
    color: rgb(107, 98, 98);
    font-weight: 550;
}

.lower h5:hover{
    color: red;
    text-decoration-line: underline;
}

.parent-line{
    height: 2.5px;
    width: 100%;
    margin-block: 5px;
    position: relative;
    top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 2px;
    background-color:  rgb(218, 208, 208);
}

.hero-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}

.top-part{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card{
    width: 17%;
    height: 300px;
    background-color: rgb(240, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card:hover{
    background-color: rgb(252, 252, 38);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.card h5{
    width: 80%;
    font-size: 18px;
    line-height: 24px;
    color: rgb(192, 178, 178);
    margin-top: 20px;
}

.card h5:hover{
    color: black;
}

.card span{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
}

.card span i{
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card p{
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.card img{
    width: 50%;
}

.bottom-part{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Responsive 768 */

@media (max-width:768px) {
  
    .container{
        width: 100%;
        height: auto;
        background: linear-gradient(to bottom, rgb(243, 241, 241), yellow);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 58.5px;
    }
    
    .box{
        width: 90%;
        height: auto;
        background-color: white;
        border: 4px solid black;
        border-radius: 15px 15px 5px 5px;
        box-shadow: rgb(202, 185, 185) 0px 10px  10px 10px;
    }
    
    .navbar{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .menu{
        display: inline;
        position: relative;
        top: 30px;
        left: 60px;
    }

    .upper{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-block: 0px;
        padding-inline: 0px;
    }
    
    .upper h1{
        display: none;
        font-weight: 800;
    }
    
    .upper span button{
        height: 30px;
        width: 100px;
        font-weight: 700;
        font-size: 14px;
        background-color: rgb(252, 252, 38);
        border: none;
        border-radius: 5px 0px 0px 5px;
        
    }
    
  
    
    .upper span button:last-child{
        background-color: rgb(240, 233, 233);
        position: relative;
        right: 5px;
        border-radius: 0px 5px 5px 0px;
        margin-right: 10px;
    }
    
 
    
    .lower{
        display: none;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-block: 30px;
        padding-inline: 45px;
    }
    
    .lower h5{
        display: none;
        font-size: 20px;
        color: rgb(107, 98, 98);
        font-weight: 550;
    }
    
    .lower h5:hover{
        color: red;
        text-decoration-line: underline;
    }
    
    .parent-line{
        height: 2.5px;
        width: 100%;
        margin-block: 5px;
        position: relative;
        top: -7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .line{
        width: 90%;
        height: 2px;
        background-color:  rgb(218, 208, 208);
    }
    
    .hero-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background-color: white;
        gap: 20px;
    }
    
    .top-part{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
    
    .card{
        width: 90%;
        height: 300px;
        background-color: rgb(240, 233, 233);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-inline-start: 30px;
    }
    
    
    
    .card h5{
        width: 80%;
        font-size: 18px;
        line-height: 24px;
        color: rgb(192, 178, 178);
        margin-top: 20px;
        position: relative;
        top: -60px;
        left: 80px;
    }
    
   
    
    .card span{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block: 20px;
        position: relative;
        right: 90px;
        top: 40px;
    }
    
    .card span i{
        font-size: 25px;
        background-color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    
    .card img{
        width: 40%;
    }
    
    .bottom-part{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
}